.DS_Store


/.idea
/.metals
/.vscode
/project
/target

/molecules_cpp/.idea
/molecules_cpp/data.csv
/molecules_cpp/data_detailed.csv

/molecules_scala/project
/molecules_scala/.idea
/molecules_scala/target

/molecules/__pycache__
/molecules/env